<div class="page-header">
	<span style="font-size: large; font-weight: bold;">{{ message }}</span>
	<input type="text" placeholder="filter by" ng-model="personToFilter"> <i class="fa fa-search"></i>
</div>

<div class="table table-responsive">
	<table class="table table-condensed">
		<thead>
			<tr>
				<th> 
					<a href="#" ng-click="order('name')">Name
						<span class="fa fa-sort-alpha-asc" ng-show="predicate === 'name' && reverse == false"></span>
						<span class="fa fa-sort-alpha-desc" ng-show="predicate === 'name' && reverse == true"></span>
					</a>
				</th>
				<th>
					<a href="#" ng-click="order('email')">Email
						<span class="fa fa-sort-alpha-asc" ng-show="predicate === 'email' && reverse == false"></span>
						<span class="fa fa-sort-alpha-desc" ng-show="predicate === 'email' && reverse == true"></span>
					</a>
				</th>
				<th>
					<a href="#" ng-click="order('number')">Number
						<span class="fa fa-sort-alpha-asc" ng-show="predicate === 'number' && reverse == false"></span>
						<span class="fa fa-sort-alpha-desc" ng-show="predicate === 'number' && reverse == true"></span>
					</a>
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="person in contactLists | orderBy:predicate:reverse | filter:personToFilter">
				<td>{{ person.name }}</td>
				<td>{{ person.email }}</td>
				<td>{{ person.number }}</td>
				<td>
					<button type="submit" class="btn btn-danger" ng-click="removePerson(contactLists.indexOf(person))">
						<i class="fa fa-minus-circle"></i>
					</button>
				</td>
			</tr>
			<tr class="active">
				<!-- form to add contact to the list -->
				<td>
					<input type="text" class="form-control" placeholder="name" ng-model="personToAdd.name">
				</td>
				<td>
					<input type="text" class="form-control" placeholder="email" ng-model="personToAdd.email">
				</td>
				<td>
					<input type="text" class="form-control" placeholder="number" ng-model="personToAdd.number">
				</td>
				<td>
					<button type="submit" class="btn btn-success" ng-click="addPerson()"><i class="fa fa-plus-circle"></i></button>
				</td>					
			</tr>
		</tbody>
	</table>

</div>
